
body{
font-family:Arial,sans-serif;
background:#0b4d2b;
display:flex;
justify-content:center;
padding:40px;
color:white;
}
.container{
background:#f3f3f3;
padding:30px;
border-radius:16px;
width:500px;
color:#111;
}
form{
display:flex;
flex-direction:column;
gap:15px;
}
input,select,textarea{
padding:14px;
border-radius:10px;
border:1px solid #ccc;
font-size:16px;
}
button{
padding:16px;
border:none;
background:#1f7a3d;
color:white;
font-weight:bold;
border-radius:10px;
cursor:pointer;
}
